@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4"> Bem vindo! </h1>
    <p>Se você tende a esquecer suas senhas, este sistema é para você!</p>
    <p>Este é um sistema de armazenamento de senhas.</p>
</div>
